:host {
  display:block;
  height:300px;
  background-color:#fff;
  overflow:auto;
}

h2 {
  margin:0;
  padding:0;
}

p {
  line-height:40px;
  font-size:20px;
  text-align:center;
  vertical-align:middle;
  margin:0;
  padding:0;
}

span {
  line-height:20px;
  vertical-align:middle;
}

.error-console-chrome {
  display: grid;
  grid-template-columns: 1fr 40px;
  padding: 10px 20px;
  background-color: #EEE;
  border-bottom:1px #999 solid;
  height:40px;
}

.error-sub-console-chrome {
  display: grid;
  grid-auto-columns:40px;
  padding: 10px 20px;
  background-color: #EEE;
  border-bottom: 1px #999 solid;
  height: 40px;
}

.error-count {
  display: grid;
  grid-template-columns: 40px 40px;
}

.mat-mini-fab {
  width: 12px;
  height: 12px;
  font-size: 8px;
  font-weight: 400;
}

::ng-deep .mat-mini-fab .mat-button-wrapper {
  padding: 0 !important;
  line-height:12px;
}

.mat-icon {
  height: 12px;
  width: 12px;
}

.material-icons {
  font-size:6px;
}

